<!DOCTYPE html>
<meta charset="UTF-8">
<!--<style> div { display: block ; width:50%; border: 2px solid red; border-style: dashed; } </style>-->

<html>
<head>
    <title>Landing Page</title>
    </head>
    <body class="is-boxed has-animations">
    <div class="body-wrap">

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">Vedelem Landing Page</h1>
	                        <p class="hero-paragraph">A fantasy tower defense game in which the player must defend from hordes of enemies while protecting their domain.</p>
	                        <div class="hero-cta"><a class="button button-primary" href="/register">Register</a><br><br><a class="button" href="/login">Login</a><br><br><a class="button" href="/leaderboard">Leaderboard</a></div>
                    </div>
                </div>
            </section>
	</main>
	</div>
    </body>
</html>
<!--
<form action="#" method="post">
	USERNAME&nbsp <input type = text placeholder="Input username" name = "username" id = "username"><br><br>
	PASSWORD&nbsp <input type = text placeholder="Input password" name = "password" id = "password"><br><br>
	
<input type = submit name = "login" value="login">
<input type = submit  name = "register" value="register">
</form>
-->
