<!DOCTYPE html>
<html>

<head>
  <title> Vedelem</title>
  <meta charset="utf-8">
  <meta name="description" content="Leaderboard">
  <meta name="author" content="Chris Ramirez">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="w3-theme-blue.css">
  <link rel="stylesheet" href="Test.css">
  <link rel="stylesheet" href="w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="sorttable.js"></script>
</head>
<!--
<body onLoad="buildHtmlTable('#myTable')">
-->
  <div class="w3-sidebar w3-bar-block w3-card w3-theme-d2 w3-center w3-xlarge" style="width:15%">
    <h3 class="w3-bar-item w3-xxxlarge " >Content</h3>
    <a href="leaderboard" class="w3-bar-item w3-button w3-padding-16 w3-theme-d3">Leaderboard</a>
    <a href="register" class="w3-bar-item w3-button w3-padding-16">Register</a>
    <a href="login" class="w3-bar-item w3-button w3-padding-16">Login</a>
  </div>

  <canvas id="line-chart" width="3" height="1"></canvas>
  
  <br><br>
  <form action="#" method="post">
        USERNAME&nbsp <input type = text placeholder="Input username" name = "username" id = "username"><br><br>
        PASSWORD&nbsp <input type = text placeholder="Input password" name = "password" id = "password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"><br><br>
        SCORE&nbsp <input type = number placeholder="Input score" name = "score" id = "score"><br><br>



  <input type = submit name = "score" value="Enter Score">
  </form>

  <br><br>
  <form action="#" method="post">
  <input type = submit name = "refresh" value="Refresh Leaderboard">
  </form>

 
  <div style="margin-left:15%">

    <div class="w3-container">
      <div class="w3-card-4">
        <header class="w3-container w3-theme-d1 w3-center">
          <h1 class="w3-xxxlarge w3-myfont"> Vedelem </h1>
        </header>
      </div>
    </div>

  <!--  <p><button onclick="sortTable()">Refresh</button></p> -->

    <div class="w3-container w3-padding-16">

      <input class="w3-input w3-border w3-padding" type="text" placeholder='Search for names..'id="myInput" onkeyup="filter()">

      <table class="w3-table-all w3-card-4 w3-centered w3-hoverable sortable" id="myTable">
        <!--<thead>
        <tr class="w3-blue w3-xlarge">
         <th>Name</th>
          
          <th id="rank">Rank</th>
          <th>Score</th>
        </tr>
        </thead>-->
        <!--
        <tr>
          <td>1</td>
          
          <td>Test Name</td>
          <td>1000</td>
        </tr>
        -->
      </table>
      <p>
      <!--  <button onclick="sorttable.innerSortFunction.apply(document.getElementById('rank'), [])">Sort by 'Rank' column</button> -->
      <p>
    </div>
  </div>
 <p id="demo"></p>
 <table id="excelDataTable" border="1">
  </table>
</body>
<script>

window.onload=function(){
buildHtmlTable('#myTable');
/*document.getElementsByTagName("th")[0].setAttribute("id", "democlass");*/
onLoad();


}

function onLoad(){
    var newTableObject = document.getElementById("myTable")
    sorttable.makeSortable(newTableObject)
}


function filter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
/*
labels = JSON.parse({{ labels | tojson }})
data = JSON.parse({{ data | tojson }})
*/

function buildHtmlTable(selector) {
  labels = JSON.parse({{ labels | tojson }});
  /*labels = JSON.parse(myList);*/
  console.log(labels);
  var columns = addAllColumnHeaders(labels, selector);

  for (var i = 0; i < labels.length; i++) {
    var row$ = $('<tr/>');
    for (var colIndex = 0; colIndex < columns.length; colIndex++) {
      var cellValue = labels[i][columns[colIndex]];
      if (cellValue == null) cellValue = "";
      row$.append($('<td/>').html(cellValue));
    }
    $(selector).append(row$);
  }
 /*sorttable.makeSortable(document.getElementById('myTable'));*/
}

/*
var myList = [
  { "name": "abc", "age": 50 },
  { "age": "25", "hobby": "swimming" },
  { "name": "xyz", "hobby": "programming" }
];
*/

// Adds a header row to the table and returns the set of columns.
// Need to do union of keys from all records as some records may not contain
// all records.
function addAllColumnHeaders(myList, selector) {
  var columnSet = [];
  var headerTr$ = $('<tr/>');
  labels = JSON.parse({{labels | tojson }});

  for (var i = 0; i < labels.length; i++) {
    var rowHash = labels[i];
    for (var key in rowHash) {
      if ($.inArray(key, columnSet) == -1) {
        columnSet.push(key);
        headerTr$.append($('<th/>').html(key));
      }
    }
  }
  $(selector).append(headerTr$);
  /*sorttable.makeSortable(document.getElementById('myTable'));*/
  return columnSet;
  
}

function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[1];
      y = rows[i + 1].getElementsByTagName("TD")[1];
      //check if the two rows should switch place:
      if (Number(x.innerHTML) > Number(y.innerHTML)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

/*
var obj, dbParam, xmlhttp, myObj, x, txt = "";
obj = { table: "customers", limit: 20 };
dbParam = JSON.stringify(obj);
xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    myObj = JSON.parse({{ labels | tojson }});
    txt += "<table border='1'>"
    for (x in myObj) {
      txt += "<tr><td>" + myObj[x].name + "</td></tr>";
    }
    txt += "</table>"
    document.getElementById("demo").innerHTML = txt;
  }
}
xmlhttp.open("POST", "json_demo_db_post.php", true);
xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xmlhttp.send("x=" + dbParam);
*/
/*
labels = JSON.parse({{ labels | tojson }})
        data = JSON.parse({{ data | tojson }})
        new Chart(document.getElementById("line-chart"),{
                "type":"line",
                "data":
                        //using the labels here.
                        {"labels":labels,
                        "datasets":[{"label":"Sentiment Over Time",
                        //using data here
                        "data": data,
                        "fill":false,
                        "borderColor":"rgb(75, 192, 192)",
                        "lineTension":0.1}]},
                "options":{}});

*/
</script>

</html>
