<!DOCTYPE html>
<meta charset="UTF-8">
<style> div { display: none ; width:50%; border: 2px solid red; border-style: dashed; } </style>

<html>
<head>
    <title>Registration Page</title>
    </head>
    <body>
    	<h1>New User Page!</h1>
</html>

<form action="#" method="post">
	USERNAME&nbsp <input type = text placeholder="Input username" name = "username" id = "username"><br><br>
	PASSWORD&nbsp <input type = text placeholder="Input password" name = "password" id = "password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"><br><br>
	
<input type = submit name = "login" value="login">
<input type = submit  name = "register" value="register">
</form>
